extends layout

block content
	.container

		if (!user)
			h1 Welcome to GradeBookPro
			h3(style="padding-bottom:40px;") The gradebook application for everyone!
			p Looks like you're new:
			a.btn.btn-default(href="/login") Login
			&nbsp;
			a.btn.btn-primary(href="/register") Register

		if (user)
			.alert.alert-success.alert-dismissible.fade.in.hidden.student-created(role="alert")
				button.close(type="button", data-dismiss="alert")
					span(aria-hidden="true")&times;
				#[strong Success!] A new student has been registered.
			.alert.alert-success.alert-dismissible.fade.in.hidden.student-deleted(role="alert")
				button.close(type="button", data-dismiss="alert")
					span(aria-hidden="true")&times;
				#[strong Success!] A student has been deleted.
			p.text-right Logged in as #[span.text-primary #[i(style="padding-left:5px").glyphicon.glyphicon-user] #{user.username}]
			nav.navbar.navbar-default
				.container-fluid
					a.navbar-brand(href="/") GradeBookPro
					ul.nav.navbar-nav.navbar-right
						li
							a(href="/logout") Logout #[i.glyphicon.glyphicon-log-out(style="padding-left:3px")]
			.featured-students(style="padding: 30px 0 70px")
				h4.text-muted(style="padding-bottom:30px;letter-spacing:0.5px;") Featured Students
				.row
					.col-md-4.highest-gpa
						img.img-circle(src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/user-male-circle-blue-512.png", style="max-width:100px;float:left")
						div.d-inline-block(style="padding-left:20px;overflow:hidden")
							h4.featured-name Julia Hummel
							span.text-muted.featured-class Class: 3
							h5.text-success(style="padding-top:10px") #[i.glyphicon.glyphicon-thumbs-up] Highest GPA
					.col-md-4.lowest-gpa
						img.img-circle(src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/user-male-circle-blue-512.png", style="max-width:100px;float:left")
						div.d-inline-block(style="padding-left:20px;overflow:hidden")
							h4.featured-name James Blake
							span.text-muted.featured-class Class: 2
							h5.text-danger(style="padding-top:10px") #[i.glyphicon.glyphicon-thumbs-down] Lowest GPA
					.col-md-4.student-warning
						img.img-circle(src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/user-male-circle-blue-512.png", style="max-width:100px;float:left")
						div.d-inline-block(style="padding-left:20px;overflow:hidden")
							h4.featured-name Shawn Perry
							span.text-muted.featured-class Class: 1
							h5.text-warning(style="padding-top:10px") #[i.glyphicon.glyphicon-thumbs-down] Recent Changes

			.row
				.col-md-4
					form(role='form', action="/search", method="post", id="student-search")
						.input-group(style="margin-bottom:30px")
							input.form-control(type='text', name="search_query", placeholder='First Name')
							span.input-group-btn
								button.btn.btn-primary(type="submit") #[i.glyphicon.glyphicon-search(style="padding-right:3px;")] Search

					.panel.panel-success
						.panel-heading
							h3.panel-title #[i.glyphicon.glyphicon-plus(style="padding-right:5px")] Add New Student
						.panel-body

							// New Student Form
							form(role='form', action="/login", method="post", id="new-student")
								.form-group
										input.form-control(type='text', name="first_name", placeholder='First Name', required)
								.form-group
									input.form-control(type='text', name="last_name", placeholder='Last Name', required)
								.form-group
									input.form-control(type='number', min='1', max='20', name="class", placeholder='Class #', required)
								.form-group
									input.form-control(type='number', min='0', max='4', step="0.1", name="gpa", placeholder='GPA', required)
								button.btn.btn-success(type='submit') Add Student

					.panel.panel-default
						.panel-heading
							h3.panel-title #[i.glyphicon.glyphicon-stats(style="padding-right:5px")] School Statistics
						.list-group
							li.list-group-item Average GPA
							li.list-group-item Highest GPA
							li.list-group-item Lowest GPA


				.col-md-8
					.panel.panel-default
						.panel-heading
							h3.panel-title #[i.glyphicon.glyphicon-education(style="padding-right:5px")] Registered Students
						table#current-students.table
							tr.heading-row
								th
								th First Name
								th Last Name
								th Date Added
								th Class
								th GPA
								th
							for student, index in students
								tr.student
									td.student-activity
										if (student.active)
											div.activity-btn.active
										else
											div.activity-btn.inactive
									td.student-first-name #{student.first_name}
									td.student-last-name #{student.last_name}
									td.student-date-added #{student.date_added}
									td.student-class #{student.class_id}
									td.student-gpa #{student.gpa}
									td.edit-link
										a(title="Edit", href="/edit/#{student.id}")
											i.glyphicon.glyphicon-pencil
										a(title="Delete", href="/destroy/#{student.id}", class="text-danger", style="padding-left:20px")
											i.glyphicon.glyphicon-trash

					h4.text-muted.no-students.hidden(style="text-align:center;padding:50px 0") No Students Found

	script(src='/javascripts/main.js')
